body {
    background: #9abbfc;
}

.navbar-dark {
    background: #00ccff !important;
}

.header {
    background: #214047;
    font-size: 10rem;
    color: rgb(65, 209, 149);
    text-align: center;
}

.container-fluid.row.card {
    margin: 50px;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    
}

.footer {
    background: #669aff;
}